{% extends 'admin/base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
<div class="card card-outline card-success">
    <div class="card-body">
    <h1>Edit Client</h1>
    {{ include('admin/client/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
