{% extends 'admin/base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
<div class="card card-outline card-success">
    <div class="card-body">
        <h1>Edit Vehicule</h1>
        {{ include('admin/vehicule/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>

{% endblock %}
