{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}

{% block title %}Edit Abonnement{% endblock %}
  {% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Editer abonnement',[
        {
            path:path('admin_abonnement_index'),
            name:'Abonnements'
        }
        ]) 
    }}
  {% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <h3>Edit Abonnement</h3>
    </div>
    <div class="card-body">

        {{ include('admin/abonnement/_form_edit.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_abonnement_index') }}">back to list</a>

        {{ include('admin/abonnement/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}